
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>



<div th:each="meal :${meals}">
    <div class="" style="margin-top: 150px" th:attr="id='editRecipe'+${meal.getId()}" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center modalTextColor tabFont" id="Title">Edit Recipe</h5>

                </div>
                <div class="modal-body">
                    <form th:action="@{|/editmeal/${meal.getId()}|}" th:object="${meal}" method="post">
                        <div class="form-group">
                            <label th:attr="for= ${meal.getTitle()}" >Title</label>
                            <input type="text" class="form-control" th:attr="id= ${meal.getTitle()}" name="title" th:value="*{title}" required="required">
                        </div>
                        <div class="modal-footer">
                            <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>