<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
</head>
<body>

<h1>Planned Meals</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Recipes</th>
        <th>Author</th>
        <th>Date</th>

    </tr>

    <tr th:each="meal :${meals}">
        <td th:text="${meal.id}"></td>
        <td th:text="${meal.title}"></td>
        <td th:text="${meal.getRecipes().toArray()}"></td>

        <td th:text="${meal.mealAuthor.userName}"></td>
        <td th:text="${meal.mealDate}"></td>
    </tr>

</table>

</body>
</html>