<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="/myStyleSheet.css">
    <title>Title</title>
    <style>
        .loginContainer{
            width: 200px;
            height: 200px;
            background-color: lightgray;
            margin-right: auto;
            margin-left: auto;
            margin-top: 200px;


        }
    </style>
</head>
<body>
<div class="loginContainer">
    <label for="uname">Username</label>
    <br>
    <input type="text" id="uname"  name="uname" required>
    <br><br>
    <label for="psw">Password</label>
    <br>
    <input type="password" id="psw" name="psw" required>
    <br><br>
    <button type="submit">Login</button>
    <br><br>
    <form action="/register">
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>