<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="/myStyleSheet.css">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div class="loginContainer">
    <label for="fullname">Full name</label>
    <br>
    <input type="text" id="fullname"  name="fullname" required>
    <br><br>
    <label for="birthdate">Birthdate</label>
    <br>
    <input type="birthdate" id="birthdate" name="birthdate" required>
    <br><br>
    <label for="username">Username</label>
    <br>
    <input type="text" id="username"  name="username" required>
    <br><br>
    <label for="psw">Password</label>
    <br>
    <input type="password" id="psw" name="psw" required>
    <br><br>
    <label for="psw1">Re-type password</label>
    <br>
    <input type="password" id="psw1" name="psw1" required>
    <br><br>
    <button type="submit">Register</button>
    <br><br>
    <form action="/">
        <input type="submit" value="Login">
    </form>
</div>

</body>
</html>