<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="/myStyleSheet.css">
    <title>Title</title>
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/recipeBook">Recipe book</a></li>
            <li><a href="/listOfRecipes">List of recipes</a></li>
            <li><a href="/planner">Planner</a></li>
            <li><a href="/search" >Search</a></li>
            <li><a href="/home">Profile</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
</div>
<h1>search</h1>
</body>
</html>