<!-- Authored and Cleaned by Gustavo Beltran -->

<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <title>Create Recipe</title>
    <meta charset="utf-8">
</head>

<body>
    <section class="ftco-section" style="margin-top: 120px">
        <div class="container marginTop">
            <div class="row justify-content-center">
                    <h2 class="tfontColor titleFont text-center">Recipe App</h2>
            </div>
            <div class="row justify-content-center text-center">
                <form action="" th:action="@{/addrecipe}" th:object="${recipe}" method="post">
                    <h2 class="regTitle tfontColor">Add Recipe</h2>
                    <div class="form-group col-centered">
                        <input type="text" class="form-control" id="recipeTitle"  name="recipeTitle" placeholder="Recipe Title" th:field="*{title}" required="required" style="width: 350px; display: inline!important; background: rgba(0, 0, 0, 0.5); border: none; margin-bottom: 10px;">
                    </div>
                    <div class="form-group col-centered">
                        <textarea type="text" class="form-control" name="directions" placeholder="Instructions"  th:field="*{directions}" required="required" style="width: 350px; height: 200px; display: inline!important; background: rgba(0, 0, 0, 0.5); border: none;"></textarea>
                    </div>
                    <div style="margin: 15px;">
                    <select id="category" name="category">
                        <option value="test1">Lunch</option>
                        <option value="test2">Dinner</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <a href="/recipes" class="btn btn-danger" style="width: 15%; background: rgba(0, 0, 0, 0.5);">Cancel</a>
                        <button type="submit" class="btn btn-success" style="width: 15%; background: rgba(0, 0, 0, 0.5);">Save Recipe</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>

