<!-- Authored by Fred Petersen and Cleaned up by Gustavo Beltran -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Explore Recipe</title>
</head>

<body>

<div class="container mT50" style="margin-top: 120px">

    <h1 class="mT50 tfontColor titleFont stroke text-center">Explore Recipes</h1>

    <!-- MAIN CONTENT -->
    <div class="row text-center" style="width: 75%; margin: 25px auto">

        <div class="col-xs-2" th:each="recipe :${recipes}">
            <a class="cursor" data-toggle="modal" th:attr="data-target='#viewRecipe'+${recipe.getId() }"><img src="https://img.icons8.com/fluency/96/000000/real-food-for-meals.png"/></a>
            <div class="tfontColor recipeFont stroke" th:text="${recipe.title}"></div>
            <div class="tfontColor recipeFont stroke" th:text="'authored by:' + ${recipe.recipeAuthor.userName}"></div>
        </div>
    </div>
    <!-- End of MAIN CONTENT -->



    <!-- View Recipe Modal -->
    <div th:each="recipe :${recipes}">
        <div class="modal fade" th:attr="id='viewRecipe'+${recipe.getId() }" tabindex="-1" role="dialog" aria-labelledby="viewRecipe" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center modalTextColor tabFont" id="viewRecipeTitle" th:text="${recipe.title}">"[Name of the selected recipe]"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container" style="height: 500px!important;">
                            <div th:if="${recipe.checkIfFavouritedBy(1)}">
                                <!-- TODO why doesnt glyphicon work? -->
                                <form th:action="@{|/removefav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                    <button class="btn btn-success" type="submit"> Remove from Favourites</button>
                                </form>
                            </div>
                            <div th:unless="${recipe.checkIfFavouritedBy(1)}">
                                <form th:action="@{|/addfav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                    <button class="btn btn-primary" type="submit"> Save to Favourites</button>
                                </form>
                            </div>
                            <h5>Instructions</h5>
                            <div th:text="${recipe.getDirections()}"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of View Recipe Modal -->

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>