<!-- Authored and Cleaned by Gustavo Beltran -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<div class="container mT50" style="margin-top: 120px">

    <h1 class="mT50 tfontColor titleFont stroke text-center">Recipe List</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#createRecipe'">
        Create
    </button>

    <!-- MAIN CONTENT -->
    <div class="row text-center" style="width: 75%; margin: 25px auto">
        <div class="col-xs-2" th:each="recipe :${recipes}">
            <a class="cursor" data-toggle="modal" th:attr="data-target='#viewRecipe'+${recipe.getId() }"><img src="https://img.icons8.com/fluency/96/000000/real-food-for-meals.png"/></a>
            <div class="tfontColor recipeFont stroke" th:text="${recipe.title}"></div>
            <!-- Button trigger Create Recipe Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#editRecipe'+${recipe.getId()}" >
                Edit
            </button>
        </div>

    </div>
    <!-- End of MAIN CONTENT -->

    <!-- View Recipe Modal -->
    <div th:each="recipe :${recipes}">
        <div class="modal fade" th:attr="id='viewRecipe'+${recipe.getId() }" tabindex="-1" role="dialog" aria-labelledby="viewRecipe" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center modalTextColor tabFont" id="viewRecipeTitle" th:text="${recipe.title}">"[Name of the selected recipe]"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container" style="height: 500px!important;">
                            <div th:if="${recipe.checkIfFavouritedBy(1)}">
                                <!-- TODO why doesnt glyphicon work? -->
                                <form th:action="@{|/removefav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                    <button class="btn btn-success" type="submit"> Remove from Favourites</button>
                                </form>
                            </div>
                            <div th:unless="${recipe.checkIfFavouritedBy(1)}">
                                <form th:action="@{|/addfav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                    <button class="btn btn-primary" type="submit"> Save to Favourites</button>
                                </form>
                            </div>
                            <h4>Description</h4>
                            <div th:text="${recipe.getDescription()}"></div>
                            <h4>Ingredients</h4>
                            <div th:each="ingredient: ${recipe.getIngredients()}">
                                <div style="margin-bottom: 10px">
                                    <div style="float: left" th:text="${ingredient.getIngredientName()}"> </div>
                                    <form th:action="@{|/additem/${ingredient.getId()}|}" th:object="${ingredient}" method="post">
                                    <button type="submit" style="width: 30px; height: 20px; text-align: center; font-size: 10px; margin-left: 5px">Add</button>
                                    </form>
                                </div>

                            </div>
                            <h4>Instructions</h4>
                            <div th:text="${recipe.getSteps()}"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Recipe Modal -->
    <div th:each="recipe :${recipes}">
            <div class="modal fade" th:attr="id='editRecipe'+${recipe.getId()}" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center modalTextColor tabFont" id="Title">Edit Recipe</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{|/editrecipe/${recipe.getId()}|}" th:object="${recipe}" method="post">
                            <div class="form-group">
                                    <label th:attr="for= ${recipe.getTitle()}" >Title</label>
                                    <input type="text" class="form-control" th:attr="id= ${recipe.getTitle()}" name="title" th:value="*{title}" required="required">
                            </div>
                                <div class="form-group">
                                    <label for="FormControlSelect1">Category</label>
                                    <select class="form-control" id="FormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label th:attr="for= ${recipe.getDescription()}">Directions</label>
                                    <textarea class="form-control" rows="3" th:attr="id= ${recipe.getDescription()}" name="directions" th:value="*{description}" required="required">
                                     </textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- End of Edit Recipe Modal -->

    <!-- Create Recipe Modal -->
    <div class="modal fade" id="createRecipe" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center modalTextColor tabFont">Create Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row justify-content-center text-center">
                        <form action="" th:action="@{/addrecipe}" th:object="${recipe}" method="post">
                            <!-- TODO:Remove Duplicate ids, add ingredients adder and Step adder, also maybe add the meal type-->
                            <div class="form-group col-centered">
                                <input type="text" class="form-control" id="recipeTitle"  name="recipeTitle" placeholder="Recipe Title" th:field="*{title}" required="required" style="width: 350px; display: inline!important; border: none; margin-bottom: 10px;">
                            </div>
                            <div class="form-group col-centered">
                                <textarea type="text" class="form-control" name="description" placeholder="Description" th:field="*{description}" required="required" style="width: 350px; height: 200px; display: inline!important; border: none;"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-secondary">Save Recipe</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Create Recipe Modal -->
</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

</body>
</html>