<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">



<body>
<div class="container bg-primary text-center" style="">
    <h1 class="mT50 tfontColor titleFont stroke ">Shopping List</h1>
    <input type="button" class="btn btn-primary btn"  onclick="printDiv('printableArea')" value="Print Shopping List" />
    <div id="printableArea">
        <div class="col-xs-2" th:each="item :${items}">
            <div class="tfontColor recipeFont stroke" th:text="${item.getItemName()}"></div>
            <div style="font-size: 30px" class="tfontColor font-weight-bolder" th:text="${item.getItemPrice()}"></div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/datepicker.js"></script>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>


<!-- To be able to use certain Icons -->
<script src="https://kit.fontawesome.com/2184cbeaba.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

</body>
</html>