<!-- Authored and Cleaned by Gustavo Beltran -->

<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recipe App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">
</head>

<body class="bgImg">
<nav class="bg-navbar navbar-fixed-top col-centered" style="width: 60%; margin: 0 auto;">
    <div class="" style="padding-left: 20px;">
        <div class="navbar-header">
            <a class="navbar-brand logoTitle" href="/">Recipe Book</a>
        </div>
        <ul class="" th:remove="all">
            <li th:fragment="menuItem (link,active,title,glyph,text)" class="active"
                th:class="${active==menu ? 'active' : ''}">
                <a th:href="@{__${link}__}" th:title="${title}">
                    <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                        aria-hidden="true"></span>
                    <span th:text="${text}">Template</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li th:replace="::menuItem ('/','home','home page','home','Home')">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <span>Home</span>
            </li>
            <li th:replace="::menuItem ('/recipes','recipes','find recipes','','Recipes')">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span>Recipes</span>
            </li>
            <li th:replace="::menuItem ('/addrecipe','recipes','find recipes','','Create Recipe')">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span>Create Recipe</span>
            </li>
            <li th:replace="::menuItem ('/explore','meals','find meals','','Explore Recipes')">
                <span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>
                <span>Explore Recipes</span>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
            <!-- search form -->
            <form class="navbar-form navbar-left" action="/search" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="searchQuery">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>

            <!-- search form ends -->
            <li><a class="txt-navbar mainMenuFont" href="/login"><i class="fas fa-keyboard"></i> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid mT50">
    <div class="container xd-container">
        <th:block th:include="${template}" />
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
