<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<!-- Small Tab Navbar -->
<div class="navbar col-centered" style="margin-top: 250px;">
    <nav class="navbar" style="text-align: center; margin: 0">
        <ul class="nav nav-tabs" style="display: inline-table">
            <li class="active" style="display: inline"><a data-toggle="tab" class="tabFont stroke" href="#home">Profile</a></li>
            <li><a data-toggle="tab" class="tabFont stroke" href="#menu1">Favorites</a></li>
            <li><a data-toggle="tab" class="tabFont stroke" href="#menu2">Planned Meals</a></li>
            <li><a data-toggle="tab" class="tabFont stroke" href="#menu3">My Recipes</a></li>
        </ul>
    </nav>
</div>
<!-- End of Small Tab Navbar -->



<!-- Start of Main Menu - PROFILE -->
<div class="tab-content mT50">
    <div id="home" class="tab-pane fade in active">
        <!-- Profile Details -->
        <!--            <img src="images/pizza.jpeg" class="img-responsive col-centered img-circle profileImg" alt="Responsive image">-->
        <div class="transbox col-centered" style="width: 50%; margin-top: 35px;">
            <div class="transbox2 text-center col-centered" style="width: 95%">
                <span>Chef</span><p>Gordon Ramsay</p>
                <span>Creating culinary delights since:</span><p>1990</p> <!-- It would be good if we could change this message at random -->
                <span>Nicknamed:</span><p>Chef Michelin</p>
                <div class="dummyBox">
                    <div class="profileText"><span>3</span> Total Created Recipes</div>
                    <div class="profileText"><span>5</span> Meals planned</div>
                    <div class="profileText"><span>9</span> Recipes in your favorites list</div>
                </div>
                <!-- Trigger/Open The Edit Profile Modal -->
<!--                <div class="col-centered" style="width: 30%;">-->
<!--                    <button type="button" class="btn btn-primary profileText" data-target="#modal" data-toggle="modal">-->
<!--                        Edit Profile-->
<!--                    </button>-->
<!--                </div>-->
            </div>
        </div>
    </div>


    <div id="menu1" class="tab-pane fade">
        <!-- Edit Recipe Modal -->
        <div class="modal fade" id="editRecipe" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center modalTextColor tabFont" id="Title">Edit Recipe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input type="text" class="form-control" id="editRecipeTitle" placeholder="<Pre-populated>">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Level of Difficulty</label>
                                <select class="form-control" id="FormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Instructions</label>
                                <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Fav Recipe Modal -->


        <!-- CONTENT -->
        <div class="row text-center" style="width: 75%; margin: 25px auto">

            <div class="col-xs-2" th:each="favorite : ${favoriteRecipes}">
                <a class="cursor" data-toggle="modal" th:attr="data-target='#viewFavoriteRecipe'+${favorite.getId() }"><img src="https://img.icons8.com/fluency/96/000000/real-food-for-meals.png"/></a>
                <div class="tfontColor recipeFont stroke" th:text="${favorite.title}"></div>
                <!-- Button trigger Create Recipe Modal -->
                <!--                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editRecipe">-->
                <!--                    Edit-->
                <!--                </button>-->
            </div>

        </div>
        <!-- END of CONTENT -->



        <!-- View FAVORITE Modal -->
        <div th:each="recipe :${favoriteRecipes}">
            <div class="modal fade" th:attr="id='viewFavoriteRecipe'+${recipe.getId() }" tabindex="-1" role="dialog" aria-labelledby="viewRecipe" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center modalTextColor tabFont" id="viewRecipeTitle" th:text="${recipe.title}">"[Name of the selected recipe]"</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container" style="height: 500px!important;">
                                <div th:if="${recipe.checkIfFavouritedBy(1)}">
                                    <!-- TODO why doesnt glyphicon work? -->
                                    <form th:action="@{|/removefav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                        <button class="btn btn-success" type="submit"> Remove from Favourites</button>
                                    </form>
                                </div>
                                <div th:unless="${recipe.checkIfFavouritedBy(1)}">
                                    <form th:action="@{|/addfav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                        <button class="btn btn-primary" type="submit"> Save to Favourites</button>
                                    </form>
                                </div>

                                <h5>Instructions</h5>
                                <div th:text="${recipe.getDirections()}"></div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of View Recipe Modal -->




    </div>



    <!-- Start of Small Tab Menu PLANNED MEALS -->
    <div id="menu2" class="tab-pane fade">
        <!-- Div for Create Recipe Modal Button -->
<!--        <div class="col-centered text-center">-->
<!--            &lt;!&ndash; Button trigger Create Recipe Modal &ndash;&gt;-->
<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#planMeal">-->
<!--                Plan Meals-->
<!--            </button>-->
<!--        </div>-->

        <!-- Plan Meal Modal -->
        <div class="modal fade" id="planMeal" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center modalTextColor tabFont" id="planMealTitle">Plan Meal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Available Recipes</label>
                                <select class="form-control" id="planMealFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="datePicker">Select day</label>
                                <input type='text' class="form-control" id="datePicker" data-toggle="datepicker"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Plan Meal Modal -->

        <div class="row text-center recipeFont tfontColor" style="width: 75%; margin: 25px auto">
            <div class="col-xs-2">
                <a class="cursor" data-toggle="modal" data-target="#meal"><img src="https://img.icons8.com/fluency/96/000000/bake.png"/></a>
                <div>Tiramisu Cake</div>
                <div>December 10, 2021</div>
            </div>
            <div class="col-xs-2">
                <a class="cursor" data-toggle="modal" data-target="#meal"><img src="https://img.icons8.com/fluency/96/000000/bagel.png"/></a>
                <div>Cream Cheese Special Bagel</div>
<!--                <div class="titleStyle">[DATE]</div>-->
            </div>
            <div class="col-xs-2">
                <a class="cursor" data-toggle="modal" data-target="#meal"><img src="https://img.icons8.com/fluency/96/000000/rolled-oats.png"/></a>
                <div>Rolled Oats</div>
<!--                <div>[DATE]</div>-->
            </div>
            <div class="col-xs-2">
                <a class="cursor" data-toggle="modal" data-target="#meal"><img src="https://img.icons8.com/emoji/96/000000/shrimp.png"/></a>
                <div>Sea Food Delights</div>
                <div>November 23, 2021</div>
            </div>
            <div class="col-xs-2">
                <a class="cursor" data-toggle="modal" data-target="#meal"><img src="https://img.icons8.com/color/96/000000/thanksgiving.png"/></a>
                <div>Thanksgiving Turkey</div>
<!--                <div>[DATE]</div>-->
            </div>
            <div class="col-xs-2">
                <a class="cursor" data-toggle="modal" data-target="#meal"><img src="https://img.icons8.com/fluency/96/000000/paella.png"/></a>
                <div>Paella</div>
                <div>December 21, 2021</div>
            </div>
        </div>


        <!-- View Planned Meal Modal -->
        <div class="modal fade" id="meal" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center modalTextColor tabFont" id="plannedMealTitle">Plan Meal Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>CONTENT HERE</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of View Planned Meal Modal -->


    </div>
    <!-- End of Small Tab Menu PLANNED MEALS -->


    <!-- Start of Small Tab Menu MY RECIPES -->
    <div id="menu3" class="tab-pane fade">
        <!-- Div for Create Recipe Modal Button -->
        <div class="col-centered text-center">
            <!-- Button trigger Create Recipe Modal -->
            <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRecipe">-->
            <!--                Create Recipe-->
            <!--            </button>-->
        </div>

        <!-- Create Recipe Modal -->
        <div class="modal fade" id="createRecipe" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center modalTextColor tabFont" id="recipeTitle">Create Recipe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Level of Difficulty</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Create Recipe Modal -->


        <!-- CONTENT -->
        <div class="row text-center" style="width: 75%; margin: 25px auto">

            <!-- Shows existing recipes -->
            <div class="col-xs-2" th:each="recipe :${recipes}">
                <a class="cursor" data-toggle="modal" th:attr="data-target='#viewRecipe'+${recipe.getId() }">
                    <img src="https://img.icons8.com/fluency/96/000000/real-food-for-meals.png"/>
                </a>
                <div class="tfontColor recipeFont stroke" th:text="${recipe.title}"></div>

                <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#editRecipe'+${recipe.getId()}" >
                    Edit
                </button>
                <!-- Button trigger Create Recipe Modal -->
                <!--                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editRecipe">-->
                <!--                    Edit-->
                <!--                </button>-->
            </div>
            <!-- existing recipes ends -->

            <!-- Edit Recipe Modal -->
            <div th:each="recipe :${recipes}">
                <div class="modal fade" th:attr="id='editRecipe'+${recipe.getId()}" tabindex="-1" role="dialog" aria-labelledby="createRecipe" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center modalTextColor tabFont" >Edit Recipe</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{|/editrecipe/${recipe.getId()}|}" th:object="${recipe}" method="post" >
                                    <div class="form-group">
                                        <label th:attr="for= ${recipe.getTitle()}" >Title</label>
                                        <input type="text" class="form-control" th:attr="id= ${recipe.getTitle()}" name="title" th:value="*{title}" required="required">

                                    </div>

                                    <div class="form-group">
                                        <label th:attr="for= ${recipe.getDirections()}">Directions</label>

                                        <textarea class="form-control"  rows="3" th:attr="id= ${recipe.getDirections()}" name="directions" th:value="*{directions}"  required="required">



                                     </textarea>


                                    </div>

                                    <div class="modal-footer">
                                        <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>


                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Edit Recipe Modal -->

        </div>
        <!-- END of CONTENT -->



        <!-- View Recipe Modal -->
        <div th:each="recipe :${recipes}">
            <div class="modal fade" th:attr="id='viewRecipe'+${recipe.getId() }" tabindex="-1" role="dialog" aria-labelledby="viewRecipe" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center modalTextColor tabFont" id="viewRecipeTitle" th:text="${recipe.title}">"[Name of the selected recipe]"</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container" style="height: 500px!important;">
                                <div th:if="${recipe.checkIfFavouritedBy(1)}">
                                    <!-- TODO why doesnt glyphicon work? -->
                                    <form th:action="@{|/removefav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                        <button class="btn btn-success" type="submit"> Remove from Favourites</button>
                                    </form>
                                </div>
                                <div th:unless="${recipe.checkIfFavouritedBy(1)}">
                                    <form th:action="@{|/addfav/${recipe.getId()}|}" th:object="${recipe}" method="post">
                                        <button class="btn btn-primary" type="submit"> Save to Favourites</button>
                                    </form>
                                </div>

                                <h5>Instructions</h5>
                                <div th:text="${recipe.getDirections()}"></div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of View Recipe Modal -->


    </div>
    <!-- End of Small Tab Menu MY RECIPES -->







</div>










<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</body>

</html>